body {
    font-family: 'Times New Roman', Times, serif;
}

.orange {
    color: cornflowerblue;
}

section {
    display: flex
}

.big-font {
    font-size: 20px;
}

.big-font {
    width: 50%;
}

.big-font {
    padding-left: 20%;
}

.margin {

    margin-bottom: 50px;
}

.order-now {
    background-color: orange;
    background-image: linear-gradient(orange);
}

.order-now {
    color: white;
}

.order-now {
    padding: 20px 60px;
}

.order-now {
    border-radius: 20px;
}

.order-now a {
    text-decoration: none;
}

.order-now {
    padding: 20px;
    margin-bottom: 20px;
}

.top-img {
    background-image: url(pics/istockphoto-1178554344-2048x2048-transformed.jpeg);
}